[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Tillwege
	email = tillwege@gmail.com
[core]
	autocrlf = input
    excludesFile = ~/.gitignore
[init]
    defaultBranch = main
[credential]
	helper = "!f() { /home/vscode/.vscode-server/bin/b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a/node /tmp/vscode-remote-containers-7b2e9adae4bfad796187f343160e2b7cd5dd0566.js $*; }; f"
